@import "../../assets/sass/mixin.scss";
@import "../../assets//sass/global.scss";

button {
  display: inline-block;
  outline: none;
  text-align: center;
  padding: 0.5em 2em 0.55em;
  font: 100% $font-stack;
  color: $light;
  background-color: $primary-color;
  &:hover {
    background-color: $hover;
  }
  &:active {
    background-color: $pressed;
  }
  &:disabled {
    background-color: $disabled;
  }
  opacity: 1;
  &:disabled {
    opacity: 0.5;
  }
  margin-top: 14px;
  border: none;
  @include font-size($text-sizes);
  @include rounded();
}
