@import "./mixin.scss";

$font-stack: Poppins, sans-serif;
$text-sizes: (
  null: 16px,
  480px: 16px,
  640px: 18px
);

$h1-sizes: (
  null: 32px,
  480px: 32px,
  640px: 48px
);

$light: #ffffff;
$primary-color: #051c48;
$hover: #20538a;
$pressed: #051c48;
$disabled: #2b70b9;
$header: #051c48;

h1 {
  @include font-size($h1-sizes);
  font-family: $font-stack;
}

p {
  @include font-size($text-sizes);
  font-family: $font-stack;
}

input {
  height: 16px;
  width: 16px;
  min-width: 16px;
  border: 1px solid #999;
  background-color: $light;
  align-content: center;
  margin-right: 8px;
}
